//Primary Colors

$softblue: hsl(215, 51%, 70%);
$cyan:hsl(178, 100%, 50%);

//Neutral

$darkbluemainBG: hsl(217, 54%, 11%);
$darkbluecardBG: hsl(216, 50%, 16%);
$darkblueline: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

//Fonts

$paragraph: 18px;
$mainfont: 'Outfit', sans-serif;

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

main {
    width: 100vw;
    height: 100vh;
    font-family: $mainfont;
    background: $darkbluemainBG;
    color: $white;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.card {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    width:327px;
    height: 543px;
    background: $darkbluecardBG;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 10px 10px 37px 0px rgba(18,15,25,0.24);
    -webkit-box-shadow: 10px 10px 37px 0px rgba(18,15,25,0.24);
    -moz-box-shadow: 10px 10px 37px 0px rgba(18,15,25,0.24);

    &__image {
        height: 279px;
        width: 279px;
        margin: 25px auto 25px auto;
        position: relative;
        background-image: url(image-equilibrium.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border-radius: 10px;
            &::after {
                content: '';
                background-image: url(icon-view.svg);
                background-repeat: no-repeat;
                background-size: 45px auto;
                background-position: center;
                width: 45px;
                height: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                -webkit-transform: translate(-50%, -50%);
                opacity: 0;
            } 
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;  
            cursor: pointer;
            
            
            &:hover {
                background-color: $cyan;
                opacity: 0.5;
            }   
            &:focus {
                background-color: $cyan;
                opacity: 0.5;
            }      
        }
    }

    &__title {
        width: 279px;
        margin: 0 auto;
        a {
            color: $white;
            &:hover {
                color: $cyan;
            }
            h1 {
                font-weight: 600;
                font-size: 20px;
            }
        }
        p {
            font-weight: 300;
            font-size: 16px;
            padding-top: 15px;
            color: $softblue;
            line-height: 25px;
        }
    }

    &__details {
        width: 279px;
        margin: 0 auto;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 50px;
        border-bottom: 1px solid $darkblueline;

        &--left {
            color: $cyan;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            img {
                height: 20px;
                padding-right: 5px;
            }
        }

        &--right {
            color: $softblue;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            img {
                height: 20px;
                padding-right: 5px;
            }
        }
    }

    &__profile {
        width: 279px;
        margin: 0 auto;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        align-items: center;
        padding-top: 16px;
        img {
            width: 33px;
            border: 1px solid $white;
            border-radius: 100%;
        }
        p {
            padding-left: 15px;
            color: $softblue;
            a {
                color: $white;
                &:hover {
                    color: $cyan;
                }
                &:focus {
                    color: $cyan;
                    outline: none;
                }
            }
        }
    }
}



.attribution {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
    a {
        color: $softblue;
        &:hover {
            color: $white;
        }
        &:focus {
            color: $cyan;
            outline: none;
          }
    }
    
}

